@import "../../styles/mixins.scss";

.cardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4.444444rem 0; //80px

    & .link {
        display: contents;

        & h3 {
            font-size: 1.111111em; //20px
            margin: 2.222222rem 0;
            color: $white;
    
            &:hover {
                color: $white;
            }
    
            @include mq(lg){
                font-size: 1.333333em; //24px
                color: $black-40;
            }
        }
    }

    &:hover {
        cursor: pointer;
    }

    @include mq(sm) {
        width: 27.7777777rem; //500px
    }
    @include mq(lg) {
        width: 30%;
        padding: 0;
    }
}