@import "../../styles/mixins.scss";

.tools {
    border-bottom: 1px solid $black-80;
    padding-bottom: 3.333333rem; //100px 

    @include mq(sm) {
        padding-bottom: 4.444444rem;
    }
    @include mq(md) {
        padding-bottom: 5.555555rem;
    }

    & h3 {
        color: $white;
        text-align: center;
    }

    .imageContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 1em;

        @include mq(md) {
            justify-content: center;
        }

        & .imageWrapper {
            margin: 1em;

            @include mq(md) {
                margin: 0 2.777777em;
            }
        }
    }
}