@import "../../styles/mixins.scss";

.projects{
    border-bottom: 1px solid $black-80;

    .sectionTitle {
        width: 100%;
    
        & h2{
            color: $white
        }
    
        & p {
            color: $black-40
        }
    
        @include mq(sm){
            width: 80%
        }
        @include mq(xl){
            width: 40%
        }
    }
}