@import "../../styles/mixins.scss";

.sectionTitle {
    width: 100%;

    & h2{
        color: $white
    }

    & p {
        color: $black-40
    }

    @include mq(sm){
        width: 50%
    }
    @include mq(xl){
        width: 40%
    }
}