/*Colours*/
$gradient: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
$white: #fbfbfb;
$black-100: #181f26;
$black-80: #3f444a;
$black-40: #abb3bf;
$error: #f91f2a;
$warning: #fadb14;
$success: #309053;

/*Device Breakpoints( from stated value upwards) */
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
